* {
    box-sizing: border-box;
  }
  
  .img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .box {
    float: left;
    width: 33.33%;
    padding: 50px;
  }
  .nen{
    background-color:rgb(212, 0, 85) ;
  }